*{
    margin: 0;
    padding: 0;
    font-family: 'Galmuri9';
    user-select: none;
}
*:hover{
    cursor:default;
}
body{
    margin: 0 25%;
    height: 750px;
    background: linear-gradient(#FF008015, #7928CA15);
    overflow: hidden;
}
header{
    margin-bottom: 50px;
}
header a{
    font-family: 'SBAggroB';
    font-size: 48px;
    display: inline-block;
    vertical-align: baseline;
    margin-top: 38px;
    color: #fff;
    text-shadow: -3px 0 #7928CA, 0 3px #7928CA, 3px 0 #FF0080, 0 -3px #FF0080;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
#run{
    width: 270px;
    height: 65px;
    color: #fff;
    font-size: 20px;
    border-style: none;
    border-radius: 20px;
    float: right;
    vertical-align: baseline;
    margin-top: 30px;
    background: linear-gradient(#FF0080, #7928CA);
    border: #FF0080 5px outset;
    font-family: 'DungGeunMo';
    display: none;
    padding: 10px;
    
}
#run:hover{
    cursor:pointer;
    color: #eee;
}
#run:hover{
    color: #fff;
    background: linear-gradient(#ff2a94, #7e31ca);
    border: #ff44a1 5px outset;
}
#run:active{
    margin-top: 31px;
    margin-right: 2px;
    width: 265px;
    height: 63px;
    font-size: 19px;
    background: linear-gradient(#f20079, #7227bd);
}
#char_select{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    z-index: 2;
}
#char_select button{
    height: 320px;
    width: 375px;
    margin: 3px;
    background: #fff;
    border: #FF0080 5px solid;
    border-radius: 20px;
    font-family: "Galmuri9";
    font-size: 24px;
    text-align: center;
    display: inline;
}
#char_select button:hover{
    background: #eee;
}
#char_select button:active{
    background: #ccc;
    height: 317px;
    width: 365px;
    margin: 4px 8px 4px 8px;
    font-size: 23px;
}
#char_select button p:nth-child(1){
    font-size: 72px;
    margin-top: -10%
}
#map{
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    display: none;
}
ul li{
    display: inline-block;
    list-style: none;
    font-size: 20px;
}
.city{
    display: grid;
    grid-template-columns: repeat(10, minmax(10%, auto));
    grid-template-rows: repeat(auto-fill, minmax(20%, auto));
    row-gap: 10px;
    justify-items: center;
}
.cityImg{
    width:50px;
    height: 50px;
    font-size: 30px;
    background: #000;
    border-radius: 25px;
    
}
.cityTxt{
    font-family: "galmuri7";
    text-align: center;
    font-size: 14px;
    color: #7928CA;
}
.city li:nth-child(11){
    grid-column: 10;
    grid-row: 2;
}
.city li:nth-child(12){
    grid-column: 10;
    grid-row: 3;
}
.city li:nth-child(13){
    grid-column: 10;
    grid-row: 4;
}
.city li:nth-child(14){
    grid-column: 10;
    grid-row:5;
}
.city li:nth-child(15){
    grid-column: 9;
    grid-row: 5;
}
.city li:nth-child(16){
    grid-column: 8 ;
    grid-row: 5 ;
}
.city li:nth-child(17){
    grid-column: 7 ;
    grid-row: 5 ;
}
.city li:nth-child(18){
    grid-column: 6;
    grid-row: 5 ;
}
.city li:nth-child(19){
    grid-column: 5 ;
    grid-row: 5 ;
}
.city li:nth-child(20){
    grid-column: 4 ;
    grid-row: 5 ;
}
.city li:nth-child(21){
    grid-column: 3 ;
    grid-row: 5 ;
}
.city li:nth-child(22){
    grid-column: 2 ;
    grid-row: 5 ;
}
.city li:nth-child(23){
    grid-column: 1 ;
    grid-row: 5 ;
}
.city li:nth-child(24){
    grid-column: 1;
    grid-row: 4;
}
.city li:nth-child(25){
    grid-column: 1;
    grid-row: 3;
}
.city li:nth-child(26){
    grid-column: 1;
    grid-row: 2;
}
#info{
    position: relative;
    top: -44%;
    left: 30%;
    display: inline-block;
}
#user{
    color: #f20079;
    text-align: center;
    position: absolute;
    left: 25.6%;
    animation-name: userIdle;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    text-shadow: 0 0 3px #fff, 0 0 8px #fff;
    z-index: 1;
    display: none;
}
#user_direction{
    font-family: sans-serif;
    font-size: 32px;
    animation-name: userDir;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    margin-top: -14px;
}
#user_img{
    font-size: 36px;
    margin-top: -20px;
}
@keyframes userIdle{
    0%{
        margin-top: -30px;
    }
    100%{
        margin-top: -35px;
    }
}
@keyframes userDir{
    0%{
        transform: rotateY(0);
    }
    100%{
        transform: rotateY(90deg);
    }
}