#home{
    font-size: 72px;
    position: absolute;
    z-index: 2;
    display: inline;
    top: 30%;
    animation-name: home;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    visibility: hidden;
}
#home p{
    text-align: center;
    font-family: 'PyeongChangPeace-Bold';
    vertical-align: middle;
    font-style: italic;
}
@keyframes home{
    0% {
        margin-left: -1000px;
    }
    10%{
        margin-left: -180px;
    }
    65%{
        margin-left: -300px;
    }
    70%{
        margin-left: 1000px;
    }
    100%{
        margin-left: 1000px;
    }
}